.detalle-libro{
    margin-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.detalle-libro h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.detalle-libro h2{
    margin: 0 20px;
}
.detalle-libro h3{
    margin-top: 45px;
    margin-bottom: 10px;
    font-size: x-large;
}
section{
    width: 500px;
    background-color: rgb(116, 139, 139);
    border-radius: 60px;
}
.portada-libro{
    border: 8px solid black;
    width: 250px;
    height: 400px;
    object-fit: cover;
}
.boton-agregar1{
    display: flex;
    justify-content: center;
}